body {
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 150px;
}
.container {
  padding: 18px;
}
.sliderPage {
  background-image: url(../assets/bg-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-inner {
  background-image: url(../assets/bg-2.png);
  background-repeat: no-repeat;
  background-position: left;
}
.carousel-item {
  padding: 10px;
}
.carousel-indicators [data-bs-target] {
  background: linear-gradient(to right, #ffb75e, #ed8f03);
  border-radius: 15px;
  height: 1px;
  border-top: none;
  width: 15px;
}
#first-button {
  width: 40px;
}
.see-all {
  color: #ed8f03;
  font-weight: 500;
}
.card {
  border: none;
  box-shadow: 5px 12px 14px -9px grey;
  border-radius: 10px;
}
.card img {
  width: 300px;
}
#cat-butt {
  background: linear-gradient(to right, #ffb75e, #ed8f03);
  border-radius: 15px;
  border: none;
  width: 130px;
  padding: 3px;
}
.cat {
  width: 450px;
}
#cat-pic {
  box-shadow: 5px 12px 20px -9px grey;
  padding: 20px;
  border-radius: 10px;
}
#text {
  margin-left: 65px;
  margin-top: 5px;
}
